Flask==2.0.3
Flask-RESTful==0.3.9
torch==1.10.1               # or TensorFlow if using TF models
sklearn
joblib                      # For model serialization if necessary
pandas
boto3                       # Only if using Amazon S3 for model storage
